{% extends "movies/base.html" %}

{% block header %}
    {% include "movies/header.html" %}
{% endblock header %}

{% block content %}
<h1>Movie:</h1>
<div class="container">
    <h2>{{ movie.title }} 
        <a class="btn btn-sm btn-primary" href="{% url 'movies:movie_edit' movie.id %}">
            Edit
        </a>
    </h2>
    <h3> Released: {{ movie.releasedate }}</h3>
    {% if movie.genres.all %}
        <h3>Genres:</h3>
            <div class=container>
                <p>
        {% for genre in movie.genres.all %}
            {{ genre }}     
        {% endfor %}</p>
            </div>
    {% endif %}
    {% if movie.directors.all %}
    <h3> Director: </h3>
        <ul>
        {% for director in movie.directors.all %}
            <li>{{ director }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if movie.star_set.all %}
    <h3> Starring: </h3>
            <ul>
            {% for star in movie.star_set.all %}
                {% if star.role %}
                    <li>
                        <strong>{{ star.actor }}</strong> as <strong>{{star.role}}</strong>
                        <a
                        class="btn btn-sm btn-outline-danger"
                        href="{% url 'movies:movie_delete_actor' movie_id=movie.id star_id=star.id%}">
                            del
                        </a>
                    </li>
                {% else %}
                    <li><strong>{{ star.actor }}</strong></li>
                {% endif %}
            {% endfor %}
                <li>
                    <a href="{% url 'movies:movie_add_actor' movie.id %}">
                        Add New Starring Role
                    </a>
                </li>
            </ul>
    {% endif %}
</div>
{% endblock content %}
