{% extends "movies/base.html" %}
{% block title %}
    <title>MVCTLG Persons</title>
{% endblock title %}
{% block header %}
{% include "movies/header.html" %}
{% endblock header %}
{% block content %}
<h1>Person Catalog<a class="btn btn-primary" href="{% url 'movies:person_add'%}">Add</a></h1>
{% if person_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Person</th>
            </tr>
        </thead>
        <tbody>
            {% for person in person_list %}
            <tr>
                <th scope="row">
                    <a href="{% url 'movies:person_detail' person.id %}">
                        {{ person }}
                    </a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No series are available.</p>
{% endif %}
{% endblock %}